body {
    font-family: 'Commissioner', sans-serif !important;
}

.navbar-nav {
 font-size: larger;
}

.nav-link:hover {
    font-weight: bold;
}

.title {
    font-family: 'Gelasio', serif !important;
}

.carousel-item img{
    width: 100%;
    height: 90vh;
    filter: brightness(50%);
}

.container{
    height: 500px;
    width: 1000px;
}

h5{
    font-family: 'Be Vietnam Pro', sans-serif !important;
}
