body {
    font-family: 'Commissioner', sans-serif !important;
}

.navbar-nav {
 font-size: larger;
}

.nav-link:hover {
    font-weight: bold;
}

.title {
    font-family: 'Gelasio', serif !important;
}